<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GAMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="GAMSEntities" connectionString="metadata=res://*/GAMSModel.csdl|res://*/GAMSModel.ssdl|res://*/GAMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.96.159.146;initial catalog=GAMS;user id=weit2;password=weit2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIMSDatabaseEntities1" connectionString="metadata=res://*/Models.AimsEntity.csdl|res://*/Models.AimsEntity.ssdl|res://*/Models.AimsEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.96.159.146;initial catalog=AIMSDatabase;persist security info=True;user id=weit2;password=weit2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RPT_SYSEntities" connectionString="metadata=res://*/Models.BNAEntities.csdl|res://*/Models.BNAEntities.ssdl|res://*/Models.BNAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.96.159.146;initial catalog=RPT_SYS;persist security info=True;user id=weit2;password=weit2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIMS3Entities" connectionString="metadata=res://*/Models.Aims3.csdl|res://*/Models.Aims3.ssdl|res://*/Models.Aims3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.96.159.159;initial catalog=AIMS3;persist security info=True;user id=weit;password=weit;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GAMSEntities1" connectionString="metadata=res://*/Models.GAMS.csdl|res://*/Models.GAMS.ssdl|res://*/Models.GAMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.96.159.146;initial catalog=GAMS;persist security info=True;user id=weit2;password=weit2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActiveDirectoryAuthentication" />
        <binding name="BasicHttpBinding_IWBS_User" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bna.health.qld.gov.au/WebServices/ActiveDirectoryAuthentication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActiveDirectoryAuthentication" contract="AD.IActiveDirectoryAuthentication" name="BasicHttpBinding_IActiveDirectoryAuthentication" />
      <endpoint address="http://bna.health.qld.gov.au/WebServices/WBS_User.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWBS_User" contract="WS_User.IWBS_User" name="BasicHttpBinding_IWBS_User" />
    </client>
  </system.serviceModel>
  <userSettings>
    <GAMS.Properties.Settings>
      <setting name="AimsEntity" serializeAs="String">
        <value />
      </setting>
    </GAMS.Properties.Settings>
  </userSettings>
</configuration>